* {
  font-family: 'Antonio', sans-serif;
  letter-spacing: 1px;
}

body{
  background-color: rgb(72, 72, 111);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title  {
  height: 20px;
  width: 90vmin;
  max-width: 650px;
  display: flex;
  justify-content: center;
  color: rgb(227, 224, 224);
}

#aside  {
  height: 20px;
  width: 90vmin;
  max-width: 650;
  display: flex;
  justify-content: center;
  color: rgb(227, 224, 224);
}

#board  {
  background-color: rgb(177, 172, 172);
  display: grid;
  grid-template-columns: repeat(23,1fr);
  grid-template-rows: repeat(23, 1fr);
  height: 90vmin;
  width: 90vmin;
  max-width: 650px;
  max-height: 650px;
  margin-top: 5px auto;
  border: 1px solid black;
  border-radius: 3px;
}

#snake  {
  background-color: #308d16;
  border-radius: 3px;
}
#food {
  background-color: #ec301a;
  border-radius: 3px;
}
.snake  {
  background-color: #308d16;
  border: 1px solid rgb(177, 172, 172);  
  border-radius: 3px;
}

#buttons  {
  width: 90vmin;
  max-width: 650px;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#arrows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

#stack  {
  display: grid;
  grid-template-columns: 1;
  gap: 1px;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

button  {
  border-radius: 15px;
}