* {
  font-family: 'Antonio', sans-serif;
}

body{
  background-color: rgb(72, 72, 111);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title  {
  height: 20px;
  width: 90vw;
  max-width: 650;
  display: flex;
  justify-content: center;
  color: rgb(227, 224, 224);
}

#aside  {
  height: 20px;
  width: 90vw;
  max-width: 650;
  display: flex;
  justify-content: center;
  color: rgb(227, 224, 224);
}

#board  {
  background-color: rgb(227, 224, 224);
  display: grid;
  grid-template-columns: repeat(23,1fr);
  grid-template-rows: repeat(23, 1fr);
  height: 90vw;
  width: 90vw;
  max-width: 650px;
  max-height: 650px;
  margin-top: 5px;
  border: 1px solid black;
}

#snake  {
  background-color: darkolivegreen;
  border: 1px solid black;
}
.snake  {
  background-color: darkolivegreen;
  border: 1px solid black;
}

#food {
  background-color: brown;
  border: 1px solid black;
}

#buttons  {
  width: 90vw;
  max-width: 650px;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#arrows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

#stack  {
  display: grid;
  grid-template-columns: 1;
  gap: 1px;
}